@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.container {
    margin: 0 20px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.img {
    overflow: clip;
}

ul {
    text-decoration: none;
    display: flex;
}

li {
    list-style: none;
}

.no-cursor {
    cursor: not-allowed;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline #6415ff;
    color: #6415ff;
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 24px;
    color: #243e63;
    font-weight: 700;
}

h6 {
    font-size: 20px;
    color: #243e63;
    font-weight: 600;
}

p {
    font-size: 16px;
    margin: 32px 0;
}

.purple {
    color: #6415ff;
}

.space {
    padding-left: 8px;
}

.scrolled.slide-right {
    animation: slide-in-right 1.2s ease-in-out;
}

@keyframes slide-in-right {
    0% {
        transform: translateX(130%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.scrolled.slide-left {
    animation: slide-in-left 1.2s ease-in-out;
}

@keyframes slide-in-left {
    0% {
        transform: translateX(-130%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* NAVIGATION */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 32px auto;
}

.nav__logo--container {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0.5px;
    color: #243e63;
    cursor: pointer;
}

.nav__logo {
    width: 40px;
    margin-right: 12px;
}

.nav__links {
    display: flex;
    align-items: center;
}

.nav__link {
    margin: 0 24px;
    padding: 0 0 4px;
    color: #243e63;
    font-size: 14px;
    font-weight: 600;
}

.nav__link--secondary {
    display: flex;
    align-items: center;
    margin: 0 24px 0 48px;
}

.btn {
    background-color: #6415ff;
    color: white;
    padding: 12px 36px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 9999px;
    border: none;
    cursor: not-allowed;
}

.btn__menu {
    background-color: transparent;
    font-size: 40px;
    text-align: center;
    border: none;
    color: #7342d6;
    display: none;
    cursor: pointer;
}

.menu__backdrop {
    position: absolute;
    background-color: #F7FAFC;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    opacity: 0;
    visibility: hidden;
}

.menu--open .menu__backdrop {
    visibility: visible;
    opacity: 1;
}

.menu--open {
    max-height: 100vh;
    overflow-y: hidden;
}

.menu__links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu__list {
    padding: 32px 0;
}

.menu__link {
    font-size: 40px;
    color: black;
}

.btn__menu--close {
    position: absolute;
    right: 20px;
    top: 10px;
    padding: 8px;
    color: white;
}

.fa-times {
    color: black;
    cursor: pointer;
}

/* LANDING */

#landing {
    padding: 48px 0;
}

header 

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 48px 0 96px 0;
}

.header__container {
    width: 100%;
    max-width: 72px;
    display: flex;
}

.header__title {
    color: #1a202c;
}

.header__para {
    color: #243E63;
    line-height: 24px;
}

.header__description {
    width: 40%;
    display: flex;
    flex-direction: column;
}

.header__input {
    padding: 20px 192px 20px 32px;
    border-radius: 1000px;
    border-style: solid;
    border-color: rgb(220, 230, 230);
    font-size: 100%;
    outline: none;
    width: 100%;
    opacity: 0.5;
}

.header__input--wrapper {
    position: relative;
    max-width: 448px;
    margin: 12px 0;
}

.header__btn {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 160px;
    margin: 8px 8px 8px 0;
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6415ff;
    color: white;
    border: none;
    border-radius: 1000px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.header__btn:hover {
    background-color: #7342d6;
}

.header__logo--statement {
    font-size: 12px;
    padding: 20px 0 0 20px;
    margin: 80px 0 0 0;
    opacity: 0.5;
}

.header__logo--wrapper {
    width: 75%;
}

.header__logo {
    width: 100%;
    margin: 16px 0 0 16px;
    padding: 0 64px 0 0;
    opacity: 0.5;
}

.header__img--wrapper {
    width: 60%;
}

.header__img {
    width: 100%;
    margin-left: 16px;
}

/* FEATURES */

#feautres {
    padding: 96px 0;
}

.features__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.features__subtitle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

.features__description {
    display: flex;
    justify-content: center;
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    padding: 0 250px 30 250px; 
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 120px;
}

.service {
    display: flex;
    width: calc(100%/3);
}

.service__img--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50%;
}

.service__img {
    width: 24px;
    height: 24px;
}

.service__description--wrapper {
    display: flex;
    flex-direction: column;
    margin: 8px 16px;
}

.service__description {
    color: #7c8ba1;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}




#quality {
    padding: 96px 0;
}


#quality .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.quality__description {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.quality__title {
    display: flex;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.quality__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

.quality__para {
    color: #7c8ba1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
}

.quality__img--wrapper {
    width: 50%;
    flex-direction: column;
}

.quality__img {
    width: 100%;
    margin-left: 32px;
}




/* STEPS */


#steps {
    padding: 96px 0;
}


#steps .row {
    display: flex;
}

.steps__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps__img {
    width: 100%;
}

.steps__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.steps__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.steps__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243e63;
}

.steps__numbers {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
}

.steps__number {
    display: flex;
    flex-direction: row;
    line-height: 1;
    font-size: 32px;
    font-weight: 600;
    color: #cbd5e0;
    margin-top: 20px;
}

.steps__explanation {
    margin-left: 24px;
}

.steps__para {
    max-width: 80%;
    margin: 12px 0 0 0;
    color: #718096;
    font-weight: 500;
    font-size: 14px;
    line-height: 2;
}




/* VALUES */

#values {
    padding: 96px 0;
}



#values .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.values__description {
    width: 50%;
    padding-right: 24px;
}

.values__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.values__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.values__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 1.5;
}

.values__icon {
  background-color: #9ae6b4;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  color: #276749;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;

}

.values__icon2 {
  background-color: #FEB2B2;
  border-radius: 9999px;
  width: 40px;
  height: 40px;
  color: #8C312F;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}

.values__subtitles--wrapper {
    display: flex;
}

.values__subtitles--title {
    display: flex;
    align-items: center;
}

.values__subtitles--description {
    color: #7C8BA1;
    margin-right: 12px;
    line-height: 1.5;
}

.btn__wrapper--values {
    margin-top: 32px;
}

.values__img--wrapper {
    width: 50%;
}

.values__img {
    width: 100%;
}



/* PRICING */

#pricing {
    padding: 96px 0;
}


.pricing__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.pricing__subtitle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.pricing__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    line-height: 1.5;
    text-align: center;
    padding: 0 200px;
}

.plans {
    display: flex;
    flex-direction: row;
}

.plan {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-top: 64px;
    margin-right: 1px;
}

.plan__highlight {
    height: 9px;
    border-top-left-radius: 9000px;
    border-top-right-radius: 9000px;
}

.green {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
}

.plan__header {
    text-align: center;
    padding: 32px 0;
}

.plan__features {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.feature {
    margin-top: 20px;
    font-weight: 500;
    color: #718096;
}

.btn__wrapper--plans {
    padding: 32px 94px;
    display: flex;
    justify-content: center;
}

.plans__btn {
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    width: 100%;
    height: 56px;
}

.plan__business {
    display: flex;
    flex-direction: column;
    width: calc(100%/3);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 64px 32px 0px 32px;
    background: #6415ff;
    background-image: linear-gradient(115deg, rgb(61, 68, 201) 0%, rgb(102, 126, 234) 100%);
}

.business__header {
    color: #f7fafc;
}

.plan__price--business {
    color: #f7fafc;
    margin: 16px 0;
}

.duration__business {
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
    letter-spacing: 2px;
}

.duration {
    font-size: 16px;
    font-weight: 700;
    color: #A0AEC0;
}

.plan__features--business {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 32px;
    border: 0 solid rgba(0, 0, 0, 0.1);
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.business__subheader {
    color: #f7fafc;
}

.feature__business {
    margin-top: 20px;
    font-weight: 500;
    color: #f7fafc;
}

.plans__btn--white {
    background: white;
    width: 100%;
    height: 56px;
    color: #6415ff;
}

.red {
    background: linear-gradient(115deg, rgb(238, 83, 83) 0%, rgb(254, 207, 207) 100%);
}

.plans__btn--red {
    background: linear-gradient(115deg, rgb(238, 83, 83) 0%, rgb(254, 207, 207) 100%);
    width: 100%;
    height: 56px;
}





/* TESTIMONIALS */

#testimonials {
    padding: 96px 0;
}

#testimonials .row {
    display: flex;
}

.testimonials__img--wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.testimonials__img {
    width: 100%;
}

.testimonials__description {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
}

.testimonials__title {
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.testimonials__subtitle {
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.testimonials__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
}

.stars__wrapper {
    color: rgb(246, 173, 85)
}

.testimonials__subtitle2 {
    font-weight: 700;
    font-size: 20px;
    margin-top: 16px;
    color: #243E63;
}

.testimonials__para2 {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: 40px;
}

.testimonials__profile {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.testimonials__profile--description {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.profile__img--wrapper {
    width: 80px;
    height: 80px;
}

.profile__img {
    width: 100%;
    border-radius: 9999px;
}

.profile__title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 8px;
}

.profile__description {
    font-size: 16px;
    font-weight: 500;
    color: #7C8BA1;
}



/* FAQ */

#faq {
    padding: 96px 0;
}


.faq__title {
    display: flex;
    justify-content: center;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.faq__subtitle {
    display: flex;
    justify-content: center;
    font-size: 48px;
    font-weight: 900;
    color: #243E63;
}

.faq__para {
    color: #7C8BA1;
    font-size: 18px;
    font-weight: 500;
    word-spacing: 1px;
    text-align: center;
    padding: 0 250px;
}

.faq__list--wrapper {
  max-width: 896px;
  margin: 0 auto;
}

.faq__list {
    padding: 16px 40px;
    margin-top: 20px;
    border-radius: 8px;
    background-color: rgb(236, 240, 246);
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: not-allowed;
    transition: all 300ms ease;
}

.faq__text {
    font-size: 18px;
    font-weight: 600;
    color: #2D3748;
}



/* STARTED */

#started {
    padding: 96px 0;
}


.getstarted__wrapper {
    padding: 96px 0;
    background-color: #6415ff;
    border-radius: 8px;
}

.getstarted {
    display: flex;
    align-items: center;
    padding: 0 32px;
    text-align: center;
}

.getstarted__text--wrapper {
    width: 50%;
}

.getstarted__text {
    font-size: 30px;
    font-weight: 700;
    color: #f7fafc;
}

.getstarted__btn-wrapper {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.getstarted__btn {
    background-color: #f56565;
    font-size: 16px;
    height: 64px;
    margin-right: 32px;
}

.getstarted__btn2 {
    border-style: solid;
    border-color: #f7fafc;
    border-width: 1px;
    font-size: 16px;
    height: 64px;
}




/* FOOTER */

footer {
    margin-top: 96px;
    padding: 80px;
    background-color: #6415ff;
}



.links {
    display: flex;
    flex-wrap: wrap;
    border-bottom: #f7fafc;
}

.link {
    display: flex;
    flex-direction: column;
    width: calc(100%/5);
    align-items: center;
}

.link__title {
    font-size: 16px;
    font-weight: 700;
    color: #f7fafc;
    margin-bottom: 20px;
}

.footer__link {
    font-size: 14px;
    font-weight: 500;
    color: #f7fafc;
    margin: 12px 0;
    text-align: left;
}

.footer__break {
    margin: 64px 0;
    width: 100%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.15);
}

.footer__logos {
    display: flex;
    justify-content: space-between;
}

.footer__logo--container {
    display: flex;
    align-items: center;
    font-weight: 900;
    font-size: 20px;
    letter-spacing: 0.5px;
    color: #f7fafc;
}

.footer__logo {
    width: 32px;
    margin-right: 12px;
}

.footer__copyright {
    font-size: 16px;
    color: #cbd5e0;
    font-weight: 400;
}

.social__link {
    margin-right: 12px;
    background-color: #f7fafc;
    border-radius: 24px;
}

.fa-facebook-f {
    padding: 8px 12px;
}

.fa-twitter {
    padding: 8px 8px;
}

.fa-youtube {
    padding: 8px 8px;
}



/* Small phones, tablets, large smartphones */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
    }
    
    nav {
        height: 68px;
    }

    ul {
        display: none;
    }

    h1 {
        text-align: center;
        font-size: 30px;
    }

    h2 {
        font-size: 16px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header__description {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 24px;
        width: 100%;
    }

    .header__para {
        font-size: 20px;
        text-align: center;
    }

    .header__btn {
        max-width: 240px;
    }

    .header__img--wrapper {
        width: 100%;
    }

    .features__subtitle {
        font-size: 36px;
    }

    .features__description {
        width: 100%;
        padding: 0%;
        text-align: center;
    }

    .services {
        padding: 0;
    }

    .service {
        width: calc(100%/1);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .service__description {
        margin: 12px 0 16px 0;
    }

    #quality .row {
        display: flex;
        flex-direction: column-reverse;
    }

    .quality__img--wrapper {
        width: 100%;
        margin-bottom: 12px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .quality__description {
        width: 100%;
    }

    .quality__title {
        display: flex;
        justify-content: center;
    }

    .quality__subtitle {
        font-size: 30px;
    }

    .quality__para {
        text-align: center;
    }

    .btn__wrapper {
        display: flex;
        justify-content: center;
    }

    .steps__img--wrapper {
        width: 100%;
        margin-bottom: 60px;
    }

    .steps__description {
        width: 100%;
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .steps__subtitle {
        font-size: 30px;
    }

    .steps__number {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .steps__explanation {
        margin: 12px 0 0 0;
    }

    .steps__para {
        margin: 12px 0 32px 0;
        max-width: 100%;
    }

    #values .row {
        flex-direction: column-reverse;
    }

    .values__img--wrapper {
        width: 100%;
        margin-bottom: 72px;
    }

    .values__description {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .values__title {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .values__subtitle {
        font-size: 30px;
    }

    .values__para {
        text-align: center;
    }

    .values__subtitles--wrapper {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .values__subtitles--title {
        display: flex;
        justify-content: center;
    }

    .btn__wrapper--values {
        display: flex;
        justify-content: center;
    }

    .pricing__subtitle {
        font-size: 36px;
    }

    .pricing__para {
        width: 100%;
        padding: 0;
    }

    .plans {
        flex-wrap: wrap;
    }

    .plan {
        width: calc(100%/1);
    }

    .plan__business {
        width: calc(100%/1);
        padding: 0;
        margin: 40px 0 0 0;
    }

    .testimonials__img--wrapper {
        width: 100%;
        margin-bottom: 32px;
    }

    .testimonials__description {
        width: 100%;
        margin: 0;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .faq__para {
        padding: 0;
    }

    .faq__list--wrapper {
        justify-content: space-between;
    }
    
    .getstarted {
        flex-direction: column;
        text-align: center;
    }

    .getstarted__text--wrapper {
        width: 100%;
    }

    .getstarted__btn--wrapper {
        flex-direction: column;
    }

    .getstarted__btn {
        margin: 0 0 16px 0;
    }

    footer {
        padding: 96px 0;
    }

    .link {
        width: calc(100%/3);
        margin-bottom: 12px;
        align-items: center;
    }

    .footer__logos {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo--container {
        margin-bottom: 12px;
    }

    .footer__copyright {
        margin-bottom: 16px;
    }
}

/* SMALL PHONES */
@media (max-width: 550px) {
    .nav__link {
        display: none;
    }

    .faq__text {
        font-size: 14px;
    }
}

/* NAV LINKS */
@media (max-width: 873px) {
    .nav__link {
        display: none;
    }

    .btn__menu {
        display: block;
    }

    .signup__btn {
        display: none;
    }
}